body {
    /*height: 100vh; /**************/
    display: flex;
    flex-direction: column;
    margin: 0;    
}

.header, .intro {
    background-color: #1f2937;
    color: white;
    
}

.header ul {
    width: 800px;
    margin: 0 auto;    
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 16px;
}

.header a {
    text-decoration: none;
    color: white;
}

.link1{
    margin-left: auto;
}

.intro {
    display: flex;
}

